<div class="w-full h-full">
    <div class="flex flex-col h-full w-full gap-3">
        <div class="w-full h-auto">
            <p-card>
                <div class="w-full h-full">

                    <div class="flex w-full h-[cacl(100%-45px)] ">
                        <div class="flex justify-between items-center w-full">
                            <p-breadcrumb [model]="breadCrumb" />
                        </div>
                    </div>
                </div>
            </p-card>
        </div>
        <div class="w-full flex flex-col gap-2">
            @for (product of products(); track $index) {
                <p-card>
                    <div class="flex w-full gap-3 h-[100px]">
                        <img src="{{product.productImage ? product.productImage : 'assets/image-not-found.svg'}}" class="w-[160px] h-full" alt="{{product.productName}}" />
    
                        <div class="flex-1">
                            <h4 class="font-medium text-xl">{{product.productName}}</h4>
                            <p class="font-medium text-[15px] text-gray-500">S/ {{product.productPrice}}</p>
                        </div>
    
                        <div class="flex gap-2 justify-start">
                            <p-button label="Añadir al carrito" (click)="onAgregarCarrito(product)" icon="pi pi-shopping-cart"></p-button>
                            <p-button severity="danger" [outlined]="true" (click)="deleteWishList(product)" icon="pi pi-star"></p-button>
                           
                        </div>
    
                    </div>
                </p-card>
            }
        </div>
    </div>
</div>