<div class="w-full h-full">
    <div class="flex flex-col h-full w-full gap-3">
        <div class="w-full h-auto">
            <p-card>
                <div class="w-full h-full">

                    <div class="flex w-full h-[cacl(100%-45px)] ">
                        <div class="flex justify-between items-center w-full">
                            <p-breadcrumb [model]="breadCrumb" />
                        </div>
                    </div>
                </div>
            </p-card>
        </div>
        <div class="w-full flex flex-col gap-2">
            @for (product of products(); track $index) {
                <p-card>
                    <div class="flex w-full gap-3 h-[100px]">
                        <img src="assets/image-not-found.svg" class="h-full" alt="image not found">
    
                        <div class="flex-1">
                            <h4 class="font-medium text-xl">{{product.name}}</h4>
                            <p class="font-medium text-[15px] text-gray-500">{{product.description}}</p>
                            <p class="font-medium text-[15px] text-gray-500">S/ {{product.price}}</p>
                            <p class="font-medium text-[15px] text-gray-500">Cantidad: {{product.stock}}</p>
                        </div>
    
                        <div class="flex flex-col justify-between">
                            <p-button label="Añadir al carrito" (click)="onAgregarCarrito()" icon="pi pi-shopping-cart"></p-button>
                            @if(product.stock > 0) {
                                <p class="flex items-center gap-2 text-green-500"><i class="pi pi-check"></i> Disponible</p>
                            }@else {
                                <p class="flex items-center gap-2 text-red-500"><i class="pi pi-times"></i> Disponible</p>
                            }
                        </div>
    
                    </div>
                </p-card>
            }
        </div>
    </div>
</div>