<header class="flex flex-col w-full h-[120px] gap-2 py-4 bg-primary-600">
  <section class="flex items-center gap-5 flex-[0.6] px-5">
    <div class="w-[40px] h-[40px]">
      <a routerLink="/" class="w-[40px] h-[40px]">
        <img src="assets/authBgImg.png" class="w-[40px] h-[40px]" alt="" />
      </a>
    </div>

    <form [formGroup]="form" class="flex-1">
      <p-inputgroup>
        <input fluid formControlName="search" pInputText placeholder="Buscar" />
        <p-inputgroup-addon class="p-0">
          <button
            (click)="search()"
            class="cursor-pointer flex items-center justify-center w-full h-full"
          >
            <i class="pi pi-search"></i>
          </button>
        </p-inputgroup-addon>
      </p-inputgroup>
    </form>

    <div class="flex gap-2">
      <p-button
        severity="secondary"
        (onClick)="goCart()"
        icon="pi pi-shopping-cart"
      />

      <div class="relative">
        <p-button
          severity="secondary"
          icon="pi pi-bell"
          (onClick)="toogleMenuNotifications()"
        />
        <div
          (mouseleave)="toogleMenuNotifications()"
          *ngIf="showMenuNotifications"
          class="absolute w-[300px] top-[110%] right-0 z-10"
        >
          <div
            *ngFor="let notify of notifications()"
            class="bg-white shadow-lg rounded-md overflow-hidden"
          >
            <div class="p-4 border-b">
              <div class="font-semibold">{{ notify.title }}</div>
              <div class="text-sm text-gray-500">{{ notify.message }}</div>
              <div class="text-sm text-neutral-900">{{ notify.date }}</div>
            </div>
          </div>
        </div>
      </div>

      @if(isAuthenticated()){
      <div class="user-profile" pTooltip="Mi Perfil" tooltipPosition="right">
        <button
          type="button"
          class="w-[40px] h-[40px] flex justify-center items-center rounded-full overflow-hidden border-[1px] border-gray-200 cursor-pointer"
          (click)="menu.toggle($event)"
        >
          @if (user()?.imageUrl) {
          <img
            src="{{ user()?.imageUrl }}"
            class="object-cover"
            alt="user"
          />
          }@else {
          <i class="pi pi-user text-[24px] text-gray-300"></i>
          }
        </button>
        <p-menu #menu [model]="itemsAvatar" [popup]="true" />
      </div>
      } @else {
      <p-button
        label="Iniciar Sesión"
        severity="success"
        class="text-nowrap"
        (onClick)="goLogin()"
      />
      <p-button label="Registrarse" (onClick)="goRegister()" />
      }
    </div>
  </section>

  <section
    class="flex items-center h-full gap-5 flex-[0.4] px-5 border-t-[1px] bg-primary-500 border-t-primary-800"
  >
    <p-menubar [model]="items" class="z-[999]"/>
  </section>
</header>
