<div class="mb-3">
    <p-card>
        <p-breadcrumb [model]="breadCrumb" />
    </p-card>
</div>


<p-toast></p-toast>

<p-card>
  <p-table
    [value]="visibleSales"
    dataKey="id"
    [expandedRowKeys]="expandedRows"
    (onRowExpand)="onRowExpand($event)"
    (onRowCollapse)="onRowCollapse($event)"
  >
    <ng-template #caption>
      <div class="flex flex-wrap justify-end gap-2">
        <p-button label="Expandir todo" icon="pi pi-plus" text (onClick)="expandAll()" />
        <p-button label="Contraer todo" icon="pi pi-minus" text (onClick)="collapseAll()" />
      </div>
    </ng-template>

    <ng-template #header>
      <tr>
        <th style="width: 5rem"></th>
        <th>Fecha</th>
        <th>Descripción</th>
        <th class="text-right">Total</th>
      </tr>
    </ng-template>

    <ng-template #body let-sale let-expanded="expanded">
      <tr>
        <td>
          <p-button type="button" pRipple [pRowToggler]="sale" [text]="true" severity="secondary" [rounded]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
        </td>
        <td>{{ sale.date }}</td>
        <td>{{ sale.description }}</td>
        <td class="text-right">{{ sale.monto | currency: 'S/.' }}</td>
      </tr>
    </ng-template>

    <ng-template #expandedrow let-sale>
      <tr>
        <td colspan="4">
          <div class="p-4">
            <h5>Detalles</h5>
            <p-table [value]="sale.details" dataKey="id">
              <ng-template #header>
                <tr>
                  <th>Producto</th>
                  <th class="text-right">Cantidad</th>
                  <th class="text-right">Precio</th>
                  <th class="text-right">Subtotal</th>
                </tr>
              </ng-template>
              <ng-template #body let-d>
                <tr>
                  <td>{{ d.productName }}</td>
                  <td class="text-right">{{ d.amount }}</td>
                  <td class="text-right">{{ d.monto | currency: 'S/.' }}</td>
                  <td class="text-right">{{ (d.monto * d.amount) | currency: 'S/.' }}</td>
                </tr>
              </ng-template>
              <ng-template #emptymessage>
                <tr>
                  <td colspan="4">Sin detalles.</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template #emptymessage>
      <tr>
        <td colspan="4">Sin ventas.</td>
      </tr>
    </ng-template>
  </p-table>
  <div class="w-full flex justify-center mt-6">
    <p-button
      label="Ver más"
      variant="text"
      [raised]="true"
      severity="secondary"
      (onClick)="showMore()"
      [disabled]="visibleCount >= sales.length"
    />
  </div>
</p-card>
