<div class="flex flex-col gap-5 w-full h-full">

    <h1 class="font-semibold text-3xl">Gestión de categorias</h1>

    <p-card class="h-full">

        <div class="mb-5 flex gap-5">
            <p-button label="Agregar" (onClick)="openCreate(null)" [raised]="true" />
        </div>

        <p-table [value]="categories" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template #header>
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Acciones</th>
                </tr>
            </ng-template>
            <ng-template #body let-category>
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.description }}</td>
                    <td>
                        <div class="flex gap-4">
                            <p-button icon="pi pi-pencil" (onClick)="openCreate(category)" [raised]="true" severity="info" />
                            <p-button icon="pi pi-trash" (onClick)="deleteCategory(category)" [raised]="true" severity="danger" />
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>

    </p-card>

</div>

<app-save-category (successCallback)="setCategories()"></app-save-category>
<app-delete-category (successCallback)="setCategories()"></app-delete-category>