<div class="flex relative z-[2] flex-col w-[300px] justify-between">
    <div class="flex flex-col gap-1 mb-5">
        <h1 class="text-3xl text-nowrap font-bold drop-shadow-md text-white">Recuperar acceso</h1>
        <p class="text-1xl font-medium drop-shadow-md text-white">
            Ingresa tu correo y te enviaremos un enlace para restablecer tu contraseña.
        </p>
    </div>

    <div class="flex flex-col gap-7">
        <form [formGroup]="form" class="flex w-full flex-col gap-3">
            <p-iftalabel>
                <input fluid pInputText id="email" formControlName="email" autocomplete="off" />
                <label for="email">Email</label>
            </p-iftalabel>
        </form>

        <div class="flex flex-col gap-4 w-full">
            <p-button label="Enviar enlace" fluid [disabled]="this.form.invalid" [raised]="true" (onClick)="onSubmit()" />
            @if(enviado) {
                <p class="text-sm text-white/80 text-center px-2">
                    Revisa tu bandeja. Recibirás un link para cambiar tu contraseña.
                </p>
            }
        </div>
    </div>
</div>
