.default{
    color: #000000 !important;
    background-color: #f8d100 !important;
}
.info{
    color: #ffffff !important;
    background-color: #0066cc !important;
}
.success{
    color: #ffffff !important;
    background-color: #1f6a2d !important;
}
.warning{
    color: #ffffff !important;
    background-color: #a04a0f !important;
}
.error{
    color: #ffffff !important;
    background-color: #9c1a1a !important;
}
