.default{
    color: black !important;
    background-color: var(--yellow-60) !important;
}
.info{
    color: var(--gray-10) !important;
    background-color: var(--blue-60) !important;
}
.success{
    color: var(--gray-10) !important;
    background-color: var(--green-60) !important;
}
.warning{
    color: var(--gray-10) !important;
    background-color: var(--red-60) !important;
}
.error{
    color: var(--gray-10) !important;
    background-color: var(--red-60) !important;
}
