<div class="w-full h-full">
    <div class="flex flex-col h-full w-full gap-3">
        <div class="w-full h-auto">
            <p-card>
                <div class="w-full h-full">
        
                    <div class="flex w-full h-[cacl(100%-45px)] ">
                        <div class="flex justify-between items-center w-full">
                            <p-breadcrumb [model]="items" />
                            <p-button
                                (onClick)="saveProduct()"
                                (keydown.enter)="saveProduct()"
                                [disabled]="form.invalid || imagesArray == null || imagesArray.length == 0"
                                fluid
                                label="Publicar" />
                        </div>
                    </div>
                </div>
            </p-card>
        </div>
        <div class="w-full h-full">
            <p-card>
                <div class="w-full h-[calc(100%)]">
        
                    <p-tabs value="0">
                        <p-tablist>
                            <p-tab value="0">Información</p-tab>
                            <p-tab value="1">Elegir Imagen</p-tab>
                        </p-tablist>
                        <p-tabpanels>
                            <p-tabpanel value="0">
        
                                <section class="w-full h-full mt-3 overflow-y-auto">
                                    <form [formGroup]="form" class="flex flex-col h-full gap-5 w-full overflow-y-auto">
        
                                        <fieldset class="w-full">
                                            <p-iftalabel>
                                                <input pInputText formControlName="name" fluid id="name" autocomplete="off" />
                                                <label for="name">Nombre</label>
                                            </p-iftalabel>
                                        </fieldset>
        
                                        <p-iftalabel>
                                            <p-inputnumber fluid formControlName="price_input" inputId="price_input" prefix="S/."
                                                locale="en-US" />
                                            <label for="price_input">Precio</label>
                                        </p-iftalabel>
        
                                        <p-iftalabel>
                                            <p-inputnumber fluid formControlName="quantity" inputId="quantity" />
                                            <label for="quantity">Cantidad</label>
                                        </p-iftalabel>
        
                                        <p-iftalabel>
                                            <textarea fluid formControlName="description" pTextarea id="description" autoResize rows="1" cols="30"
                                                style="resize: none"></textarea>
                                            <label for="description">Descripción</label>
                                        </p-iftalabel>
        
                                        <p-iftalabel class="w-full">
                                            <p-select inputId="dd-city" formControlName="category" fluid [options]="categories()" appendTo="body"
                                                optionLabel="name" optionValue="id" class="w-full" />
                                            <label for="dd-city">Categorias</label>
                                        </p-iftalabel>
        
        
        
                                    </form>
                                </section>
        
                            </p-tabpanel>
                            <p-tabpanel value="1">
        
                                <section class="flex gap-3 w-full h-full">
        
                                    <div class="flex flex-col gap-3 flex-1">
        
                                        <input style="display: none;" class="form-control" accept="image/*" #imageUserUploader
                                            type="file" multiple (change)="uploadimage($event)">
                                        <p class="bg-yellow-100 border-l-[6px] px-3 py-2 border-l-yellow-300">
                                            Sube como minimouna imagen y como maximo cuatro imagenes
                                        </p>
        
                                        <p-button
                                            fluid
                                            label="Subir Imagen(s)"
                                            (click)="imageUserUploader.click()"
                                            (keydown.enter)="imageUserUploader.click()"
                                            [raised]="true"
                                            severity="secondary" />
        
                                        <p-button
                                            fluid
                                            label="Eliminar Imagen(es)"
                                            (click)="deleteImage()"
                                            (keydown.enter)="deleteImage()"
                                            [raised]="true"
                                            severity="danger" />
        
                                    </div>
        
                                    <div class="flex-1 h-full">
                                        <p-carousel [value]="imagesShowArray" [numVisible]="1" [numScroll]="1" [circular]="false">
                                            <ng-template let-img #item>
                                                <div
                                                    class="flex flex-col  gap-2 h-[calc(100%-80px)] border border-surface rounded-border m-2 p-4">
                                                    <div class="flex-1 w-full flex justify-center items-center">
                                                        <img src="{{ img.image }}" [alt]="img.name"
                                                            class="contain-content" />
                                                    </div>
                                                    <div class="mb-4 font-medium">{{ img.name }}</div>
                                                </div>
                                            </ng-template>
                                        </p-carousel>
        
                                    </div>
        
                                </section>
        
                            </p-tabpanel>
                        </p-tabpanels>
                    </p-tabs>                    
                </div>
            </p-card>
        </div>
    </div>
</div>
