<div class="flex justify-center items-center bg-login bg-cover bg-no-repeat bg-center  w-full h-[100vh]">
    <!-- bg-login -->
    <div
        class=" flex items-center relative backdrop-blur-xl overflow-hidden ease-in-out transition-all duration-700 gap-10 bg-gray-950/70 py-16 px-12 shadow-lg drop-shadow-lg shadow-black  rounded-lg min-h-[400px] h-auto">
        <router-outlet></router-outlet>
        <div class="w-[340px] relative z-[2] lg:flex hidden rounded-lg justify-end items-center h-full">
            <img src="/assets/authBgImg.png" class="w-[280px] h-[280px]" alt="">
        </div>

        <div
            class="absolute backdrop-blur-xl flex flex-col justify-end w-full z-[1] rotate-[20deg] items-end h-[900px] top-[-150px] right-[-200px] bottom-0">

            <span class="bg-blue-950/90 rounded-l-full flex-1 w-[110%]"></span>
            <span class="bg-blue-700/50 rounded-l-full flex-1 w-[90%]"></span>
            <span class="bg-blue-800/80 rounded-l-full flex-1 w-[70%]"></span>
            <span class="bg-blue-700/50 rounded-l-full flex-1 w-[90%]"></span>
            <span class="bg-blue-700/90 rounded-l-full flex-1 w-[70%]"></span>
            <span class="bg-blue-700/30 rounded-l-full flex-1 w-[90%]"></span>
            <span class="bg-blue-700/90 rounded-l-full flex-1 w-[80%]"></span>
            <span class="bg-blue-900/60 rounded-l-full flex-1 w-[90%]"></span>
            <span class="bg-blue-800/70 rounded-l-full flex-1 w-[110%]"></span>
            <span class="bg-blue-700/60 rounded-l-full flex-1 w-[70%]"></span>
            <span class="bg-blue-800/30 rounded-l-full flex-1 w-[85%]"></span>
            <span class="bg-blue-800/50 rounded-l-full flex-1 w-[105%]"></span>
            <span class="bg-blue-800/80 rounded-l-full flex-1 w-[85%]"></span>

        </div>
    </div>
</div>