@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import 'primeicons/primeicons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
}

.p-card {
    height: 100% !important;
}

.p-breadcrumb {
    padding: 0px !important;
}

.p-tablist-tab-list {
    width: 100% !important;
    display: flex !important;
}

.p-tabs {
    height: 100% !important;
}

.p-tab {
    flex: 1 !important;
    text-align: center !important;
}

.p-card-body {
    height: 100% !important;
}

.p-card-content {
    height: 100% !important;
}

.p-tabpanels {
    height: calc(100% - 60px) !important;
}