<div class="h-full p-5 w-full">
  <div class="flex gap-3 w-full h-full">
    <section class="h-full w-[250px]">
      <p-card>
        <div class="w-full h-full overflow-y-auto">
          <h3 class="text-2xl mb-2 font-bold">Categorias</h3>

          <ul class="flex flex-col">
            @for (cat of category(); track $index) {
            <li class="mt-1">
              <p-button
                class="text-left"
                (onClick)="selectCategory(cat.id)"
                [variant]="cat.id == categorySelected() ? 'outlined' : 'text'"
                [label]="cat.name"
                [severity]="
                  cat.id == categorySelected() ? undefined : 'secondary'
                "
              />
            </li>
            }
          </ul>
        </div>
      </p-card>
    </section>
    <div class="h-full flex gap-3 flex-col flex-1">
      <section class="h-[70px] w-full">
        <p-card>
          <div class="w-full h-full flex items-center">
            <span class="mr-2 font-semibold">Buscar:</span>
            <span class="text-xl line-clamp-1">{{ searchName() ?? "-" }}</span>
          </div>
        </p-card>
      </section>

      <section class="h-[calc(100%-70px)] overflow-y-auto w-full">
        @if(loadingProducts()) {
        <p-skeleton width="full" height="100%"></p-skeleton>
        } @else {
        <div class="flex flex-col gap-2">
          @for (product of products(); track $index) {
          <p-card>
            <div class="flex w-full gap-3 min-h-[100px]">
              <img
                src="{{
                  product.image ? product.image : 'assets/image-not-found.svg'
                }}"
                class="w-[160px] h-full"
                alt="{{ product.name }}"
              />

              <div class="flex-1">
                <h4 class="font-medium text-xl">{{ product.name }}</h4>
                <p class="font-medium text-[15px] line-clamp-2 text-gray-500">
                  {{ product.description }}
                </p>
                <p class="font-medium text-[15px] text-gray-500">
                  S/ {{ product.price }}
                </p>
                <p class="font-medium text-[15px] text-gray-500">
                  Cantidad: {{ product.stock }}
                </p>
              </div>

              <div class="flex flex-col justify-between">
                <div class="flex gap-2">
                  <p-button
                    label="Añadir al carrito"
                    (click)="onAgregarCarrito(product)"
                    icon="pi pi-shopping-cart"
                  ></p-button>
                  <p-button
                    [outlined]="true"
                    (click)="onAgregarWishList(product)"
                    icon="pi pi-star"
                  ></p-button>
                </div>
                @if(product.stock > 0) {
                <p class="flex items-center gap-2 text-green-500">
                  <i class="pi pi-check"></i> Disponible
                </p>
                }@else {
                <p class="flex items-center gap-2 text-red-500">
                  <i class="pi pi-times"></i> No Disponible
                </p>
                }
              </div>
            </div>
          </p-card>
          } @if (products().length > 10) {
          <div class="w-full flex justify-center">
            <p-button
              label="Ver más"
              [raised]="true"
              severity="secondary"
              (onClick)="showMore()"
            />
          </div>
          }
        </div>

        }
      </section>
    </div>
  </div>
</div>
